<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre mí</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Soy Claudia Gilabert, estudiante de Ingeniería del software en la Universidad de Sevilla.
          </p>
      </div>
      <div class="col-lg-4">
        <p> En esta página podrá descargar mi trabajo de fin de grado. 
          Consiste en una aplicación móvil para el sistema operativo Android para ayudar en el área del desarrollo infantil </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="Estimulando.apk" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> Descargar Estimulando
        </a>
    </div>
    
    </div>
  </div>
</section>
